body{

    background-color: rgb(120, 193, 196);
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

strong{
    color:rgb(65, 241, 232)
}

#Corais{
    font-size: medium;
}

#Dá-se{
    font-size: medium;
}

em {
    color: rgb(0, 132, 255);
}

