body{

    background-color: rgb(120, 193, 196);
}
h1{
    text-align: center;
}

p{
    text-align: center;
}

strong{
    color:rgb(65, 241, 232)
}

#Sobre{
    font-size: large;
}
#Corais{
    font-size: larger;
}

#Dá-se{
    font-size: larger;
}

#O{
    font-size: larger;
}

#Os{
    font-size: larger;
}

#São{
    font-size: larger;
}