body{

    background-color: rgb(120, 193, 196);
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

strong{
    color:rgb(65, 241, 232)
}

#Corais{
    font-size: medium;
}

#Dá-se{
    font-size: medium;
}

em {
    color: rgb(0, 132, 255);
}

#Sobre{
    font-size: large;
}
.titulo {
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}